@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
body{font-family: "pretendard",sans-serif; font-style: 14px; line-height: 1.35; color: #000;}
ul, ol{list-style: none;}
a{color: #000; text-decoration: none;}
img{vertical-align: top;}
table{border-collapse: collapse; width: 100%;}
address, em{font-style: normal;}
caption, legend{display: none;}
select, input, fieldset{vertical-align: top;}